color-nav {
    background-color: "#57D837";
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.accordion-header {
    color: lightgray;
    background-color: lightgrey;
}

body{
    background-color:#68A955;
}
h1{
    color: white;
}